/* 
====================
Poppins google font import link
====================
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* 
====================
Global styles
====================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #6c6c6c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0a0826;
}

.gloabl--flex {
  display: flex;
}
.gloabl--grid {
  display: grid;
}

.global-width {
  max-width: 1140px;
  margin: auto;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 24px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: capitalize;
}

.btn-stream {
  background-color: #e02c6d;
}

.fa-long-arrow-alt-right {
  margin-left: 8px;
}

/* ======================
   Hero container styles
  =======================
*/
.hero-container {
  background-color: #2d25a0;
  padding: 85px 0;
  margin-bottom: 70px;
}

.hero-content-wrapper {
  align-items: center;
}

.hero-container__text__title {
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 27px;
}

.hero-container__img {
  display: block;
  max-width: 556px;
  max-height: 438px;
  width: 100%;
}

/* ======================
players-container
=========================
*/

.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}

.palyers-container__card {
  padding: 15px 15px 33px 15px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.player__card-img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.player__card__title {
  font-size: 28px;
  margin-bottom: 16px;
  line-height: 40px;
  color: #18191f;
  font-weight: 700;
}

/* =========================
Highlight section styles
============================
*/

.hightlight-container {
  margin-top: 165px;
}

.hightlight-container__info {
  margin-right: 33px;
}

.highlight-container__img-container {
  margin-left: 33px;
}

.highlight-container__img-container img {
  display: block;
  max-width: 567px;
  max-height: 427px;
}

.hightlight-container__info h1 {
  font-size: 48px;
  line-height: 60px;
}

.hightlight-container__info p {
  margin: 12px 0;
  width: 97%;
}
